numpy==1.24.4
opencv-python-headless==4.7.0.72
scikit-learn
pandas
matplotlib
streamlit
insightface
onnxruntime
scipy
jupyter
redis
streamlit-webrtc
streamlit-modal
requests
geopy
ipaddress
seaborn
python-dotenv